

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    --bg-dark-color: #111111;
    --bg-silver-color: #FAFAFA;
    --light-bg-color: #fff;
    --light-btn-bg-color: rgba(53, 51, 51, 0.904);
    --text-color: #fff;
    --dark-text-color: #111111;
    --btn-bg-color: #F46632;
    box-sizing: border-box;
}


html{
    /* text-decoration: none; */
}

body{
    width: 100%;
    font-family: lato;
    color: #000;
    /* margin: 0; */
}

p{
    line-height: 2.3rem;
}

.wrapper{
    width: 100%;
}

header{
    background-color: var(--bg-dark-color);
    /* padding: 40px 80px 0px 80px; */
    position: relative;
    height: 300px;
    width: 100%;
    /* border: 2px solid tomato; */
}

.navbar{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    margin: auto;
    padding: 0px 10px;
    position: relative;

}

.logo{
    width: 8%;
}

.logo img{
    display: block;
    width: 70px;
    /* height: 60px; */
}

.nav-menu{
    /* border: 2px solid green; */
    padding: 8px 0;
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.nav-menu-link{
    /* display: block; */
    text-decoration: none;
    padding: 6px;
    font-size: smaller;
    color: var(--text-color);
}

.nav-menu-link:hover{
    color: rgba(255, 255, 255, 0.658);
}

.nav-menu :last-child{
    /* color: yellow; */
    margin: 0px 0 0 40px;
    border-radius: 8px;
    background-color: var(--light-btn-bg-color);
    padding: 8px 16px;
}

.hamburger{
    /* display: none; */
    height: 3px;
    width: 30px;
    background-color: var(--light-bg-color);
    /* position: relative; */
    /* display: flex; */
    /* transform: rotate(-45deg); */
}

.hamburger::before{
    content: "";
    background-color: var(--light-bg-color);
    /* height: 5px; */
    position: absolute;
    height: 3px;
    width: 30px;
    top: 32%;
    /* top: 45%;
    transform: rotate(-45deg); */
}

.hamburger::after{
    content: "";
    background-color: var(--light-bg-color);
    /* height: 5px; */
    position: absolute;
    height: 3px;
    width: 30px;
    bottom: 32%;
    /* bottom: 48%;
    transform: rotate(45deg); */
}


.uiuxbrand{
    background-color: var(--light-bg-color);
    display: flex;
    justify-content: space-around;
    /* border: 2px solid green; */
    border-radius: 8px;
    padding: 60px;
    transform: translateY(50px);
    /* position: absolute; */
    width: 69%;
    /* left: 10%; */
    /* right: 10%; */
    margin: auto auto;
}


.factory-course{
    /* border: 2px solid tomato; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.factory-course h1{
    font-size: 3vmax;
    position: relative;
    margin: 0;
}

.factory-course h1::after{
    content: "Product Factory";
    color: gainsboro;
    position: absolute;
    top: 150%;
    left:0;
    right:0;
    font-size: 1.5rem;
    margin: 0;    
}

.factory-bg{
    background: rgba(255,255,255,0.9) url("images/UI_UX.png") no-repeat center;
    background-size: contain;
    height: 5.0em;
    width: 100%;
}

.factory-course p{
    font-size: 1.5vmax;
}

.factory-uml{
    /* border: 2px solid cornflowerblue; */
    flex: 1;
}

.factory-uml figure{
    width: 100%;
}

.factory-uml figure img{
    display: block;
    width: 80%;
    /* max-height: fit-content; */
}

.register{
    background: var(--btn-bg-color);
    border: 0;
    border-radius: 5px;
    padding: 7px;
    margin: 20px 0;
    color: var(--text-color);
    width: 12rem;
    text-align: center;
    cursor: pointer;
}

.register:hover{
    background-color: rgba(247, 153, 66,0.7);
}

/*BELOW HEADER*/
.about{
    background-color: var(--bg-silver-color);
    min-height: 220vh;
    /* padding: 550px 80px 40px 80px; */
    width: 100%;
    border: 2px solid transparent;
}

.about-overall{
    /* border: 2px solid red; */
    padding: 60px;
    display: flex;
    flex-direction: column;
    background: var(--light-bg-color);
    border-radius: 12px;
    width: 70%;
    margin: 100px auto;
    transform: translateY(400px);
}


.about-graph{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid yellow; */
    width: 98%;
    margin: auto;
    /* border: 2px solid green; */
}


.about-graph>*{
    /* border: 1px solid green; */
    flex: 1;
}

.about-cycle figure{
    background-color: var(--bg-dark-color);
    /* background-color: transparent; */
    width: 100%;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-130px);
    position: relative;
}

.about-cycle figure::before{
    content: "";
    border-radius: 50%;
    height: 120px;
    width: 170px;
    background-color: transparent;
    border: 2px solid var(--bg-dark-color);
    transform: translate(70%,110%);
}

.about-cycle figure::after{
    content: "";
    border-radius: 50%;
    height: 120px;
    width: 100px;
    background-color: transparent;
    border: 2px solid var(--bg-dark-color);
    transform: translate(-220%,110%);
}

.about-cycle .play-btn{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--light-bg-color);
    /* background-color: red; */
    position: absolute;
    left: 82%;
    top: 82%;
    color: var(--bg-dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    /* left: 200px; */
    /* z-index: 1000000; */
}

.drag-btn{
    position: absolute;
    left: 110%;
    top: 62%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark-color);
    /* color: var(--light-bg-color); */
}

.drag-btn .dot{
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    background-color: var(--light-bg-color);
}

.drag-btn::before{
    content: "";
    height: 3px;
    width: 3rem;
    background-color: var(--bg-dark-color);
    /* background-color: red; */
    position: absolute;
    transform: translateX(-90%);
    /* color: var; */

}

.social-media{
    display: flex;
    justify-content: space-around;
    /* border: 3px solid tomato; */
    /* flex-direction: column; */
    padding: 10px;
}

.about-bg{
    /* border: 2px solid red; */
    margin: auto;
    background: rgba(255,255,255,0.9) url("images/About.png") no-repeat center;
    background-size: cover;
    height: 3.5rem;
    width: 70%;
    text-align: center;
}

.about-bg h2{
    /* text-align: center; */
    transform: translate(3%, 52%);
}

/* .about-bg::before{
    content: "About";
    border: 2px solid green;
    font-size: 5rem;
    color: var(--light-bg-color);
    position: absolute;
    transform: translate(-32%,-45%);
    font-weight: bold;
    /* z-index: -3; 
} */

.about-bg h1{
    /* z-index: -1; */
    margin: auto;
    font-size: 1.4rem;
}

.social-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.social-icons>*{
    cursor: pointer;
}

.social-icons i{
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    /* border: 2px solid blue; */
}

.about-notes{
    margin: 35px auto;
    width: 97%;
    /* padding: 20px; */
    /* border: 2px solid red; */
}

.experience-container{
    width: 100%;
    background-color: var(--light-bg-color);
    min-height: 4500px;
    border: 3px solid gold;
    /* text-align: center; */
}

.experience-container h2{
    text-align: center;
}

.experience{
    display: flex;
    flex-direction: column;    
    width: 70%;
    /* height: 600px; */
    min-height: 600px;
    /* margin: auto; */
    /* border: 2px solid red; */
    background-color: #fff;
    border-radius: 12px;
    /* box-shadow: 0 5px 8px rgba(255,255,255,0.8); */
    transform: translateY(-50%);
    margin: auto;
    margin-top: 60px;
    padding: 15px;
    box-shadow: 0px 5px 20px rgb(200,200,200);
}

.nav-pill{
    width: 85%;
    /* border: 2px solid green; */
    margin: auto;
}

.nav-pill h3{
    /* margin: auto; */
    background: rgba(255,255,255,0.9) url("images/Experience.png") no-repeat center;
    background-size: contain;
    height: 4.5rem;
    /* width: 70%; */
    text-align: center;
    padding: 20px 0;
    font-size: 2em;
    /* border: 2px solid yellowgreen; */
    line-height: 4.5rem;
    /* transform: translateY(55%); */
}

.nav-pill-item-container{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid var(--bg-dark-color);
    margin: 2rem 0;
}

/* nav-pill-item */
.nav-pill-item{
    border-right: 1px solid var(--bg-dark-color);
    padding: 15px;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

.nav-pill-item.active{
    background-color: var(--bg-dark-color);
    color: var(--light-bg-color);
}

.nav-pill-slide{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    /* border: 2px solid brown; */
}

.nav-pill-slide>*{
    padding: 8px;
}

.nav-pill-slide .pixs img{
    display: block;
    /* width: 170px; */
    /* border: 2px solid slateblue; */
}

.nav-pill-slide p{
    font-size: 1.5vmax;
}

.session{
    /* border: 2px solid red; */
    width: 70%;
    margin: auto;
}

.session-container{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-left: 1px solid rgb(200,200,200,0.5);
}

.session-headers{
    display: flex;
    align-items: center;
    background-color: var(--bg-silver-color);
    border-radius: 8px;
    padding: 10px;
}

.session-headers::before{
    content: "";
    height: 25px;
    width: 3px;
    /* border: 2px solid red; */
    border-right: 10px;
    background-color: var(--bg-dark-color);
    transform: translateX(-25px);
}

.session-header-title{
    flex: 1;
}

.session-header-rest{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex:3;
}

.icon-cover{
    background-color: var(--bg-dark-color);
    width: 8px;
    height: 8px;
    text-align: center;
    border-radius: 50%;
    color: var(--light-bg-color);
    font-size: 10px;
    padding: 7px 5px;
    cursor: pointer;
    /* display: block; */
}

.session-body{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.session-facilitator{
    flex: 1;
    /* border: 2px solid chartreuse; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.session-facilitator img{
    width: 65px;
    height: 65px;
}

.session-intro-notes{
    flex: 3;
    padding: 10px;
}



@media(max-width:900px){
    .logo{
        /* border: 2px solid red; */
        margin: 0;
        width: 30%;
    }

    .hamburger{
        position: absolute;
        top: 6%;
        left: 90%;
    }

    .hamburger::after{
    bottom: 48%;
    transform: rotate(45deg);
    }
    .hamburger::before{
    top: 45%;
    transform: rotate(-45deg);
    }
    .navbar{
        display: block;
    }
    .nav-menu{
        display: block;
    }
    .nav-menu-link{
        display: block;
    }
    .nav-menu-link:last-child{
        margin: 0;
    }
    .nav-menu{
        display: none;
    }
}

@media(max-width: 660px){
    .uiuxbrand{
        display: block;
    }
}